@page "/dictionary"

@using BlazorWebAssemplyApp.Stores
@using Flow.Components
@using Flow.Store
@using Flow.Store.Contracts

@inherits ConnectedComponent

<PageTitle>Dictionary store example</PageTitle>

<h1>Dictionary store example</h1>

<p role="status">Store count: @StoreCount</p>

<p>
    <button class="btn btn-primary" @onclick="IncrementCount">Increment store counter</button>
</p>

<p role="status">Typed store count: @TypedStoreCount</p>

<p>
    <button class="btn btn-primary" @onclick="IncrementTypedCount">Increment typed store counter</button>
</p>

@code {
    [StoreConnector("CounterStore", "StoreCounterNode")]
    public int StoreCount { get; set; }    


    [StoreConnector<TypedStore>("TypedCounterStore", "TypedStoreCounterNode")]
    public int? TypedStoreCount { get; set; }

    private void IncrementCount()
    {
        // Get the store from the container
        IStoreManager storeManager = StoreContainer.GetStoreManager("CounterStore");

        // Create an action to update the node in the store
        IAction action = new StoreAction("CounterStore", "StoreCounterNode", StoreCount + 1);
        // Dispatch the action
        storeManager.Dispatch(action);
    }
    
    private void IncrementTypedCount()
    {
        // Get the store from the container
        IStoreManager<TypedStore> storeManager = StoreContainer.GetStoreManager<TypedStore>("TypedCounterStore");

        // Create an action to update the node in the store
        IAction<int> action = new StoreAction<int>("CounterStore", "TypedStoreCounterNode", StoreCount + 1);

        // Dispatch the action
        storeManager.Dispatch(action);
    }
}
